In [1]:
import pandas as pd

In [2]:
adv1 = pd.read_csv('advent_1_input.csv')

In [3]:
adv1.head()

   list1  list2
0  77710  11556
1  22632  23674
2  82229  77288
3  35788  30924
4  84000  63702

In [4]:
l1_sorted = adv1['list1'].sort_values().reset_index(drop=True)

In [5]:
l1_sorted.head()

0    10029
1    10121
2    10146
3    10147
4    10211
Name: list1, dtype: int64

In [6]:
l2_sorted = adv1['list2'].sort_values().reset_index(drop=True)

In [7]:
l2_sorted.head()

0    10422
1    10536
2    10552
3    10601
4    10666
Name: list2, dtype: int64

In [8]:
individually_sorted = pd.concat([l1_sorted,l2_sorted],axis = 1,ignore_index = True)

In [9]:
individually_sorted.head()

       0      1
0  10029  10422
1  10121  10536
2  10146  10552
3  10147  10601
4  10211  10666

In [10]:
individually_sorted.columns = ['sorted1','sorted2']

In [11]:
individually_sorted['distance'] = (individually_sorted['sorted1'] - individually_sorted['sorted2']).abs()

In [12]:
individually_sorted.head()

   sorted1  sorted2  distance
0    10029    10422       393
1    10121    10536       415
2    10146    10552       406
3    10147    10601       454
4    10211    10666       455

In [13]:
individually_sorted.distance.sum()

np.int64(1197984)

In [14]:
list1 = individually_sorted.sorted1.tolist()

In [15]:
list2 = individually_sorted.sorted2.tolist()

In [33]:
i = 0
j = 0
similarity_score = 0
while i < len(list1):
    found_score = False
    j = 0 
    while j < len(list2) and list1[i] > list2[j]:
        j += 1
    while j < len(list2) and list1[i] == list2[j]:
        found_score = True
        similarity_score += list1[i]
        j += 1
    i += 1

In [34]:
similarity_score

23387399

In [24]:
len(list1)

1000

In [25]:
len(list2)

1000

Advent of Code[About][Events][Shop][Settings][Log Out]Shonlee Yap 3*
   var y=2024;[Calendar][AoC++][Sponsors][Leaderboard][Stats]
Our sponsors help make Advent of Code possible:
Hapag-Lloyd - Code on! At Hapag-Lloyd, we’re more than containers, we’re shipping IT innovation. Good luck to all and may the best code sail you!
--- Day 1: Historian Hysteria ---
The Chief Historian is always present for the big Christmas sleigh launch, but nobody has seen him in months! Last anyone heard, he was visiting locations that are historically significant to the North Pole; a group of Senior Historians has asked you to accompany them as they check the places they think he was most likely to visit.

As each location is checked, they will mark it on their list with a star. They figure the Chief Historian must be in one of the first fifty places they'll look, so in order to save Christmas, you need to help them get fifty stars on their list before Santa takes off on December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

You haven't even left yet and the group of Elvish Senior Historians has already hit a problem: their list of locations to check is currently empty. Eventually, someone decides that the best place to check first would be the Chief Historian's office.

Upon pouring into the office, everyone confirms that the Chief Historian is indeed nowhere to be found. Instead, the Elves discover an assortment of notes and lists of historically significant locations! This seems to be the planning the Chief Historian was doing before he left. Perhaps these notes can be used to determine which locations to search?

Throughout the Chief's office, the historically significant locations are listed not by name but by a unique number called the location ID. To make sure they don't miss anything, The Historians split into two groups, each searching the office and trying to create their own complete list of location IDs.

There's just one problem: by holding the two lists up side by side (your puzzle input), it quickly becomes clear that the lists aren't very similar. Maybe you can help The Historians reconcile their lists?

For example:

3   4
4   3
2   5
1   3
3   9
3   3
Maybe the lists are only off by a small amount! To find out, pair up the numbers and measure how far apart they are. Pair up the smallest number in the left list with the smallest number in the right list, then the second-smallest left number with the second-smallest right number, and so on.

Within each pair, figure out how far apart the two numbers are; you'll need to add up all of those distances. For example, if you pair up a 3 from the left list with a 7 from the right list, the distance apart is 4; if you pair up a 9 with a 3, the distance apart is 6.

In the example list above, the pairs and distances would be as follows:

The smallest number in the left list is 1, and the smallest number in the right list is 3. The distance between them is 2.
The second-smallest number in the left list is 2, and the second-smallest number in the right list is another 3. The distance between them is 1.
The third-smallest number in both lists is 3, so the distance between them is 0.
The next numbers to pair up are 3 and 4, a distance of 1.
The fifth-smallest numbers in each list are 3 and 5, a distance of 2.
Finally, the largest number in the left list is 4, while the largest number in the right list is 9; these are a distance 5 apart.
To find the total distance between the left list and the right list, add up the distances between all of the pairs you found. In the example above, this is 2 + 1 + 0 + 1 + 2 + 5, a total distance of 11!

Your actual left and right lists contain many location IDs. What is the total distance between your lists?

Your puzzle answer was 1197984.

--- Part Two ---
Your analysis only confirmed what everyone feared: the two lists of location IDs are indeed very different.

Or are they?

The Historians can't agree on which group made the mistakes or how to read most of the Chief's handwriting, but in the commotion you notice an interesting detail: a lot of location IDs appear in both lists! Maybe the other numbers aren't location IDs at all but rather misinterpreted handwriting.

This time, you'll need to figure out exactly how often each number from the left list appears in the right list. Calculate a total similarity score by adding up each number in the left list after multiplying it by the number of times that number appears in the right list.

Here are the same example lists again:

3   4
4   3
2   5
1   3
3   9
3   3
For these example lists, here is the process of finding the similarity score:

The first number in the left list is 3. It appears in the right list three times, so the similarity score increases by 3 * 3 = 9.
The second number in the left list is 4. It appears in the right list once, so the similarity score increases by 4 * 1 = 4.
The third number in the left list is 2. It does not appear in the right list, so the similarity score does not increase (2 * 0 = 0).
The fourth number, 1, also does not appear in the right list.
The fifth number, 3, appears in the right list three times; the similarity score increases by 9.
The last number, 3, appears in the right list three times; the similarity score again increases by 9.
So, for these example lists, the similarity score at the end of this process is 31 (9 + 4 + 0 + 0 + 9 + 9).

Once again consider your left and right lists. What is their similarity score?

Your puzzle answer was 23387399.

Both parts of this puzzle are complete! They provide two gold stars: **

At this point, you should return to your Advent calendar and try another puzzle.

If you still want to see it, you can get your puzzle input.

You can also [Share] this puzzle.